@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Trending section's scrollbar hide on different browsers */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome & Safari */
  }
  .no-scrollbar{
    -ms-overflow-style: none;  /* Internet Explorer */
    scrollbar-width: none; /* Firefox */
  }
}
@layer base {
  html {
    @apply bg-dark-blue;
    box-sizing: border-box;
  }
}

@layer components {
  .heading-l {
    @apply text-white text-hl font-medium;
  }

  .heading-m {
    @apply text-white text-hm font-medium;
  }

  .heading-s {
    @apply text-white text-hm font-medium;
  }

  .heading-xs {
    @apply text-white text-hs font-medium;
  }

  .body-m {
    @apply text-white text-bm font-medium;
  }

  .body-s {
    @apply text-white text-bs font-medium;
  }

  .section-s {
    @apply text-white text-mm font-medium;
  }

}

/* Trending section CSS */
.text_above_title {
  opacity: 0.75;
  font-family: Outfit;
  font-size: 0.9375rem;
  line-height: normal;
}
.movie-title {
  font-family: Outfit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.background-features{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 100%);
  border-radius: 0.5rem;
}
/* Trending section CSS */

input:focus {
  caret-color: #fc4747;
  box-shadow: none !important;
}
.form-input {
  height: 2.25rem;
  width: 17.438rem;
  color: white;
  opacity: 0.5;
}

input:focus {
  caret-color: #fc4747;
  box-shadow: none !important;
}

.error-text {
  font-size: 0.8125rem;
}
.error-red {
  border-color: #fc4747 !important;
}

/* Search bar CSS */
.search-input {
  color: white;
  font-family: Outfit;
  font-weight: 200;
  border-bottom: solid 1px #10141e;
}
.search-input:focus {
  border-bottom: solid 0.0625rem #5A698F;
}
/* Search bar CSS */

.tv_series_text_above {
  font-family: Outfit;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tv_series_title {
  font-family: Outfit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Search bar CSS (on search) */
.found-text{
font-family: Outfit;
}
/* Search bar CSS (on search) */